<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exercise.swd3.two_degree" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="two_degree"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".twoDegree.TwoDegree"
            android:label="@string/title_activity_two_degree" >
        </activity>
        <activity
            android:name=".twoDegree.FriendDetailActivity"
            android:label="@string/title_activity_two_degree" >
        </activity>
        <activity
            android:name=".me.MeActivity"
            android:label="@string/title_activity_me" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_me" >
        </activity>
        <activity
            android:name=".dynamic.DynamicActivity"
            android:label="@string/title_activity_me" >
        </activity>
        <activity
            android:name=".infomation.InformationActivity"
            android:label="@string/title_activity_me" >
        </activity>
        <activity
            android:name=".me.ChangeName"
            android:label="@string/title_activity_change_name" >
        </activity>
        <activity
            android:name=".me.ChangeEmotion"
            android:label="@string/title_activity_change_emotion" >
        </activity>
        <activity
            android:name=".me.ChangeAge"
            android:label="@string/title_activity_change_age" >
        </activity>
        <activity
            android:name=".me.ChangeSex"
            android:label="@string/title_activity_change_sex" >
        </activity>
    </application>

</manifest>
